

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.pg-container {
  padding: 0 15px;
  margin-top: 70px;
}

form {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
}

form h3 {
  text-align: center;
  margin-bottom: 20px;
}

form .active {
  text-align: center;
  padding: 20px;
  border: 3px dashed #ebebeb;
  background-color: #EDEDED;
  color: #bdbdbd;
  min-height: 150px;
  margin-bottom: 20px;
}

form .dropzone {
  text-align: center;
  padding: 20px;
  border: 3px dashed #ebebeb;
  background-color: #fafafa;
  color: #bdbdbd;
  min-height: 150px;
  margin-bottom: 20px;
}